@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "remixicon/fonts/remixicon.css";

:root {
    --fontText: 'Montserrat', sans-serif;
    --primary-color: #081F5C;
    --secondary-color: #334EAC;
    --tertiry-color: #7096D1;
    --quaternary-color: #D0E3FF;
    --white-color: #fff;
    --black-color: #333333;
    --highlight-color: #00ffbf;
    --hightlight-lv2-color: rgba(111, 247, 222, 0.9);
    --sizeText: 24px;
    --sizeTextTitle: 34px;
    --sizeTextTablet: 20px;
    --sizeTextTitleTablet: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color) !important;
}

button,
input[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text);
    text-decoration: none;
}