.wrapper {
    min-height: 100vh;
    margin-top: 55px;
    background-color: var(--secondary-color);
    padding: 20px 100px;
}

.section__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    border-bottom: 1px solid var(--white-color);

    .section__about-avatar {
        background-color: var(--white-color);
        width: 30%;
        border-radius: 50%;
        left: 5px;
        box-shadow: rgba(255, 255, 255, 1) 0px 22px 70px 4px;

        img {
            width: 100%;
        }
    }

    .section__about-info {
        width: 68%;
        padding: 50px 0;

        .about__info-title {
            color: var(--white-color);
            // background-color: var(--primary-color);
            padding: 10px 0;
            // border-radius: 999px;

            h1 {
                font-weight: 700;
                font-size: 36px;
            }

            h2 {
                font-weight: 500;
            }

            p {
                font-size: 16px;
            }
        }

        .about__info-content {
            display: flex;
            gap: 20px;
            padding: 20px 0;

            .info__content-card {
                background-color: var(--white-color);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                padding: 20px 40px;
                width: 570px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 10px;


                h2 {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 700;
                    border-bottom: 1px solid var(--black-color);
                    padding: 5px 0;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 18px;
                }

                .school__name {
                    font-weight: 500;
                }
            }
        }
    }
}

.section__skills{
    .section__skills-title{
        text-align: center;
        padding: 60px 0 0 0;
        h1{
            font-weight: 700;
            font-size: 36px;
            color: var(--white-color);
        }
    }
}